.actionBtn {
  margin: 5px auto;
  font-size: 1.2em;
  display: block;
}

.snapshot {
  text-align: center;
}

.snap  img {
  max-width: 800px;
  max-height: 800px;
}

ul.links {
  padding-bottom: 20px;
}

.spinner {
  width: 50px;
  vertical-align: middle;
}
